@keyframes signalFlicker {
  0% { opacity: 0.4; transform: translate(-50%, -50%) scale(1); }
  100% { opacity: 1; transform: translate(-50%, -50%) scale(1.02); }
}

.tscore {
  background-color: #333;
  color: #fff;
  width: 875px;
  height: 75px;
  display: flex;

  .team {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;

    &.afb {
      background-image: url('/browsersrc-mainframe/img/bg-score-afb.png');
      background-position: 0 0;
      background-repeat: no-repeat;
    }

    &.ccd {
      background-image: url('/browsersrc-mainframe/img/bg-score-ccd.png');
      background-position: 0 0;
      background-repeat: no-repeat;
    }

    &.sts {
      background-image: url('/browsersrc-mainframe/img/bg-score-sts.png');
      background-position: 0 0;
      background-repeat: no-repeat;
    }

    &.grounded {
      filter: saturate(50%);
      position: relative;
      background-image: none;

      * { opacity: 0; }
      

      &::before {
        filter: none;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #000;
        color: #fff;
        font-size: 20px;
        content: 'SIGNAL LOST';
        font-weight: bold;
        padding: 3px 5px;
        max-width: 400px;
        animation: signalFlicker 0.8s infinite alternate;
      }
    }

    .name {
      font-size: 25px;
      text-shadow: #333 2px 2px 5px;
      opacity: 0;
    }
    .score {
      font-size: 30px;
      background-color: #000;
      color: #fff;
      padding: 5px 10px;
      border-radius: 15px;
      text-align: right;
      font-weight: bold;
    }

    &.afb {
      background-color: #e53935;
    }
    &.ccd {
      background-color: #1e88e5;
    }
    &.sts {
      background-color: #43a047;
    }
  }
}