body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1, h2, h3 {
  font-family: 'Impact', sans-serif;
}

.src-box {
  background-color: #369;
  background-image: url('img/bg-rankings.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}